body
{
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
}
h1
{
    font-size: xx-large;
    text-align: center;
    color: green;
    font-family: cursive;
}
table
{
    background-color: aquamarine;
    border-color: darkblue;
    border-radius: 5%;
}
#image 
{
    background-color: blanchedalmond;
}
.list
{
    font-style: italic;
    background-color: beige;
}
ul,ol,pre
{
    width: 500px;
}