.container
{
    background-color: beige;
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
}
.box
{
    height: 200px;
    width: 200px;
    border: 5px solid brown;
    margin: 5px;
    padding: 5px;
}
#box1
{
    background-color: aqua;
}
#box2
{
    background-color: green;
}
#box3
{
    background-color: gray;
}
#box4
{
    background-color: navy;
}
@media (min-width: 640px) 
{
    .container
    {
        flex-direction: row;
    }
}
@media (max-width: 640px) 
{
    .container
    {
        flex-direction: column;
    }
}
