*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container
{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 10px solid brown;
}
.box
{
    width: 350px;
    height: 80px;
    background-color: blue;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
    /* animation-name: rightmovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear; */
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* animation-direction: alternate; */
    animation: 5s linear 2s infinite alternate none running rightmovement;
}
@keyframes rightmovement 
{
    from
    {
        top: 0;
        left: 0;
    }
    to 
    {
        top: 0;
        left: 1100px;
    }
}
@keyframes rightmovement 
{
    from
    {
        top: 0;
        left: 0;
    }
    to 
    {
        top: 0;
        left: 1100px;
    }
}
#box2
{
    width: 350px;
    height: 80px;
    background-color: blue;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
    /* animation-name: leftmovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate */
    animation: 5s linear 2s infinite alternate none running leftmovement;
}
@keyframes leftmovement 
{
    from
    {
        top: 425px;
        left: 1100px;
    }
    to 
    {
        top: 425px;
        left: 0px;
    }
}
#circle
{
    width: 130px;
    height: 130px;
    background-color: blue;
    margin: 10px;
    border: 5px solid black;
    border-radius: 100px;
    position: relative;
    top: 27%;
    left: 45%;
    animation: 10s linear 0s infinite alternate none running circlemovement;
}
@keyframes circlemovement 
{
   0%
   {
        top: 0%;
        left: 0%;
   }
   30%
   {
        top: 0%;
        left: 90%;
   }
   60%
   {
        top: 55%;
        left: 0%;
   }
   90%
   {
        top: 55%;
        left: 90%;
   }
}